

:root{

--bg:#ffffff;

--text:#222;

--card:#ffffff;

--grid:#e9ecef;

}



.dark{

--bg:#0f172a;

--text:#f1f5f9;

--card:#1e293b;

--grid:#334155;

}



body{

background:var(--bg);

color:var(--text);

font-family:Segoe UI;

overflow-x:hidden;


/* grid */

background-image:

linear-gradient(var(--grid) 1px, transparent 1px),

linear-gradient(90deg, var(--grid) 1px, transparent 1px);

background-size:40px 40px;

transition:.3s;

}



/* navbar */

.navbar{

background:var(--card);

box-shadow:0 5px 15px rgba(0,0,0,.05);

}



/* hero */

.hero{

min-height:60vh;

display:flex;

align-items:center;

justify-content:center;

text-align:center;

}



/* cards */

.card-box{

background:var(--card);

padding:30px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,.1);

transition:.3s;

}


.card-box:hover{

transform:translateY(-10px);

}



/* stats */

.stat{

font-size:40px;

font-weight:bold;

color:#dc3545;

}



/* testimonial */

.testimonial-slider{

max-width:400px;

margin:auto;

}



.testimonial-slider p{

font-size:18px;

}



/* form */

.contact-form{

background:var(--card);

padding:40px;

max-width:600px;

margin:auto;

box-shadow:0 10px 30px rgba(0,0,0,.1);

border-radius:10px;

}



input, textarea{

background:var(--bg) !important;

color:var(--text) !important;

}



/* footer */

footer{

background:var(--card);

padding:30px;

text-align:center;

margin-top:50px;

}


